<%
  provide(:title, 'Все задачи')
  provide(:active, 'tasks')
%>
<p id="notice"><%= notice %></p>

<h1><%= t('activerecord.models.task.index_task') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('helpers.label.task.name') %></th>
      <th><%= t('helpers.label.task.description') %></th>
      <th><%= t('helpers.label.task.state') %></th>
      <th><%= t('helpers.label.task.user') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <%= render partial: '/partials/task/task_row', locals: {task: task} %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('activerecord.models.task.new_task'), new_task_path %>
