<%
  provide(:title, "Задача ##{@task.id}")
  provide(:active, 'tasks')
%>
<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('helpers.label.task.name') %>:</strong>
  <%= @task.name %>
</p>

<p>
  <strong><%= t('helpers.label.task.description') %>:</strong>
  <%= @task.description %>
</p>

<p>
  <strong><%= t('helpers.label.task.state') %>:</strong>
  <%= t("activerecord.models.task.status.#{@task.state}") %>
</p>

<p>
  <strong><%= t('helpers.label.task.user') %>:</strong>
  <%= @task.user.email if @task.user.present? %>
</p>

<p>
  <strong><%= t('helpers.label.task.attachment') %></strong>
  <% @task.attachments.each do |attach| %>
      <br>
      <%= download_file_link @task.id, attach.file.filename %>
  <% end %>
</p>

<% if !current_user.can?(:moderate, :all) && @task.user == current_user && @task.state == 'new' %>
    <%= link_to t('helpers.start'), start_task_task_path(@task), class: 'btn btn-default', role: 'button', method: :post %>
    <br><br>
<% end %>

<% if (current_user.can?(:moderate, :all) || @task.user == current_user) && @task.state != 'finished' %>
    <%= link_to t('helpers.finish'), finish_task_task_path(@task), class: 'btn btn-default', role: 'button', method: :post %>
    <br><br>
<% end %>

<% unless current_user.can?(:moderate, :all) || @task.user.present? || @task.state == 'finished' %>
    <%= link_to t('helpers.pick_up'), pick_up_task_path(@task), class: 'btn btn-default', role: 'button', method: :post %>
    <br><br>
<% end %>

<% if !current_user.can?(:moderate, :all) && @task.user.present? && @task.user == current_user %>
  <%= link_to t('helpers.edit'), edit_task_path(@task), class: 'btn btn-default', role: 'button' %> |
<% end %>
<%= link_to t('helpers.back'), tasks_path, class: 'btn btn-default', role: 'button' %>
