<tr>
  <td><%= task.name %></td>
  <td><%= task.description %></td>
  <td><%= task.state %></td>
  <td><%= task.user.email %></td>
  <td><%= link_to t('helpers.show'), task %></td>
  <td><%= link_to t('helpers.edit'), edit_task_path(task) %></td>
  <td><%= link_to t('helpers.destroy'), task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>