<tr>
  <td class="col-md-2"><%= link_to "##{task.id} #{task.name}", task_path(task) %></td>
  <td class="col-md-5"><%= task.description %></td>
  <td class="col-md-2"><%= t("activerecord.models.task.status.#{task.state}") %></td>
  <% is_cabinet = nil if local_assigns[:is_cabinet].nil? %>
  <% unless is_cabinet.present? %>
      <td class="col-md-2"><%= task.user.email if task.user.present? %></td>
  <% end %>
  <td class="col-md-1">
    <% if current_user.can?(:manage, :all) %>
        <%= link_to(t('helpers.edit'), edit_task_path(task), class: 'btn btn-default') %>
    <% elsif task.user.nil? && task.state != 'finished' %>
        <%= link_to(t('helpers.pick_up'), pick_up_task_path(task), class: 'btn btn-default', role: 'button', method: :post) %>
    <% end %>
  </td>
</tr>